body {
  background-image: url(/cookies.jpg);
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: large;
}
.right {
  margin-left: 50%;
}
.left {
  margin-right: 50%;
}

* {
  color: rgb(0, 0, 0);
  font-size: 22;
  font-style: bold;
  text-align: center;
}
